@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Roboto', 'Droid Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #ee4d2d;
  --primary-light-color: rgba(255, 87, 34, .1);
  --bg-gray: #fafafa;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: #f5f5f5;
  font-size: 16px;
  scroll-behavior: smooth;
}

.container-wrapper {
  min-width: 1200px;
}

a {
  display: block;
  text-decoration: none;
  color: #05a;
}